#test: /home/map/qunxiong/workspace/google_svn/work_svn/input_process_output/tmp/test.* [1d]: cd /home/map/qunxiong/workspace/google_svn/work_svn/input_process_output/bin;source ~/.bashrc; python flow.py

#ipad_button:/home/map/down_offline/log/ipad/v2_map_ipad_imei_one_day_less.* [10d]:source ~/.bashrc;cd /home/map/qunxiong/input_process_output/bin;bash button2db.sh $0

indoor_users:/home/map/down_offline/imei/indoor/v2_android_today_im_indoor_floor_show.* [10d]:source ~/.bashrc;cd /home/map/qunxiong/input_process_output/bin;bash user2db.sh $0 map android indoor

startnvai_users:/home/map/down_offline/imei/navi/v2_navi_today_im_startnvai.* [10d]:source ~/.bashrc;cd /home/map/qunxiong/input_process_output/bin;bash user2db.sh $0 navi android startnvai

yawing_users:/home/map/down_offline/imei/navi/v2_navi_today_im_yawing.* [10d]:source ~/.bashrc;cd /home/map/qunxiong/input_process_output/bin;bash user2db.sh $0 navi android yawing

appenter_users:/home/map/down_offline/imei/navi/v2_navi_today_im_appenter.* [10d]:source ~/.bashrc;cd /home/map/qunxiong/input_process_output/bin;bash user2db.sh $0 navi android appenter

endnav_users:/home/map/down_offline/imei/navi/v2_navi_today_im_endnav.* [10d]:source ~/.bashrc;cd /home/map/qunxiong/input_process_output/bin;bash user2db.sh $0 navi android endnav

ipad_button:/home/map/down_offline/log/ipad/v2_map_ipad_imei_one_day_less.* [3d]:source ~/.bashrc;cd /home/map/qunxiong/input_process_output/bin;bash button2db.sh $0 map ipad

navi_button:/home/map/down_offline/log/navi/v2_navi_android_imei_one_day_less.* [3d]:source ~/.bashrc;cd /home/map/qunxiong/input_process_output/bin;bash button2db.sh $0 navi android

sdk_button:/home/map/down_offline/log/sdk/v2_sdk_android_imei_one_day_less.* [3d]:source ~/.bashrc;cd /home/map/qunxiong/input_process_output/bin;bash button2db.sh $0 sdk android

android_button:/home/map/down_offline/log/android/v2_map_android_imei_one_day_less.* [3d]:source ~/.bashrc;cd /home/map/qunxiong/input_process_output/bin;bash button2db.sh $0 map android

iphone_button:/home/map/down_offline/log/iphone/v2_map_iphone_imei_one_day_less.* [3d]:source ~/.bashrc;cd /home/map/qunxiong/input_process_output/bin;bash button2db.sh $0 map iphone

